<html>
<title>
Tic Tac Toe
</title>
<head>
	Tic tac toe
</head>
<body>
    {% if errors %}
        <ul>
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

<p>

<form action="/move/" method="put">
{% if g1 %} {{ g1 }} {% else %}
<input type="submit" value="g1" name="move">
{% endif %}
{% if g2 %} {{ g2 }} {% else %}
<input type="submit" value="g2" name="move">
{% endif %}
{% if g3 %} {{ g3 }} {% else %}
<input type="submit" value="g3" name="move">
{% endif %}
<br>
{% if g4 %} {{ g4 }} {% else %}
<input type="submit" value="g4" name="move">
{% endif %}
{% if g5 %} {{ g5 }} {% else %}
<input type="submit" value="g5" name="move">
{% endif %}
{% if g6 %} {{ g6 }} {% else %}
<input type="submit" value="g6" name="move">
{% endif %}
<br>
{% if g7 %} {{ g7 }} {% else %}
<input type="submit" value="g7" name="move">
{% endif %}
{% if g8 %} {{ g8 }} {% else %}
<input type="submit" value="g8" name="move">
{% endif %}
{% if g9 %} {{ g9 }} {% else %}
<input type="submit" value="g9" name="move">
{% endif %}
</form>


<form action="/new-game/" method="put">
<input type="submit" value="New Game">
</form>

</body>
</html>
